* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*****GENERAL*****/

.flex {
    display: flex;
}

.leftAndRightPadding {
    padding: 0 1rem ;
}

.bottomMargin {
    margin-bottom: 1.5625rem;
}

.lightBorderRadius {
    border-radius: 7%;
}

.conteiner {
    align-items: center;
}
 
.noBorderButton {
    border: none;
}

/*****FONT*****/

.mediumFontSize {
    font-size: 25px;
}


.bigFontSize {
    font-size: 65px;
}

/*****COLOR*****/

.blueBg {
    background-color: #0084fd;
}

.lightBlueBg {
    background-color: #b5ddff;
}

.purpleBg {
    background-color: #9792e4;
}

.whiteBg {
    background-color: #ffffff;
}

.blueColor {
    color: #0084fd;
}

.whiteColor {
    color: #ffffff;
}

.greyColor {
    color: #5b6e7e;
}

.purpleColor {
    color: #9792e4;
}

/*****HEADER*****/

nav {
    height: 5rem;
    width: calc(100% / 1);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
}


/*****MAIN*****/

/*APP SECTION*/

.lightBlueConteiner {
    flex-direction: column;
}

.bigLightBlueConteiner {
    height: 37.5rem;
    width: 19.6875rem;
    flex-direction: column;
    background-image: url(../img/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.littleLightBlueConteiner {
    height: 22.5rem;
    width: 19.6875rem;

}

.lightBlueBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    text-align: center;
}

/*PLANNING SECTION*/

.bigPurpleConteiner {
    height: 87.5rem;
    width: calc(100% / 1);
    flex-direction: column;
    margin-top: 5rem;
}

.planningBox {
    height: 40.3125rem;
    width: 19.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    text-align: center;
}

.planningImg {
    width: 19.5rem;
}

/*TESTIMONIALS SECTION*/

.testimonialsConteiner {
    height: 135.375rem;
    width: calc(100% / 1);
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3.75rem;
}

.purpleConteiner {
    height: 31.25rem;
    width: 19.5rem;
    flex-direction: column;
}

.testimonialBox {
    flex-direction: column;
    height: 31.25rem;
    width: 312px;
   justify-content: center;
   margin-top: 2.5rem;
}

.testimonialImg1 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    background-image: url(../img/testimonial1.jpg);
    align-self: center;
}

.testimonialImg2 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    background-image: url(../img/testimonial2.jpg);
    align-self: center;
}

.testimonialImg3 {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    background-image: url(../img/testimonial3.jpg);
    align-self: center;
}

/*BENEFITS SECTION*/

